<div class="filterDiv">
    <label for="searchName">Search by name: </label><input id="searchName" ng-model="search.name">
    <label for="searchDefault">Show Default Only:</label> <input id="searchDefault" type="checkbox" ng-model="search.isDefaultContent" ng-true-value="1" ng-false-value="">
</div>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Default Content</th>
    </tr>
    <tr ng-repeat="car in cars | filter:search">
        <td><img class="carImage" src="/images/carPortraits/{{ car.imageURL }}"></td>
        <td>{{ car.name }}<br/><a href="http://members.iracing.com/membersite/member/CarDetail.do?carid={{ car.iRacingId }}">Car Detail on iRacing.com</a></td>
        <td>{{ car.isDefaultContent | checkmarkFilter }}</td>
    </tr>
</table>