<!-- head.ejs -->
<meta charset="UTF-8" />
<title><%= title %></title>

<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="icon" href="/images/favicon.ico">
<script src="/angular/angular.min.js"></script>
<script src="/js/app.js"></script>