<!-- header.ejs -->
<a class="header" href="/">racer0940</a></h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/tracks#/">Tracks</a></li>
        <li><a href="/tracks#/configurations">Track Configurations</a></li>
        <li><a href="/randomRace">Random Race</a></li>
    </ul>
</nav>