<img src="/images/seasonBanners/{{series.bannerImgUrl}}">

<table>
    <tr>
        <td>Min<br>License</td>
        <td>Max<br>License</td>
        <td>Setups</td>
        <td>Caution Types</td>
        <td>Series<br>Type</td>
    </tr>
    <tr>
        <td>{{series.minLicenseId | licenseFilter}}</td>
        <td>{{series.maxLicenseId | licenseFilter}}</td>
        <td>{{series.isFixed | isFixedFilter}}</td>
        <td>{{series.cautionType | cautionTypeFilter}}</td>
        <td>{{series.isOvalSeries | ovalRoadFilter}}</td>
    </tr>
</table>

<h2>Cars used in this series:</h2>
<ul class="carDetails">
    <li ng-repeat="car in cars">
        <p>{{car.name}}</p>
        <img class="carImage" src="/images/carPortraits/{{ car.imageURL }}"><br>
        <p>Default content: {{ car.isDefault | checkmarkFilter}}</p>
    </li>
</ul>

<h2>Events List:</h2>
<table>
    <tr>
        <th>Start Date</th>
        <th></th>
        <th>Track Name (Default Content)</th>
        <th>Length</th>
    </tr>
    <tr ng-repeat="event in events" ng-class="{currentWeek: currentWeek == event.raceWeek}">
        <td ng-class="{currentWeek: currentWeek == event.raceWeek}"><br><br>{{event.startDate | date }}</td>
        <td><img class="configImage" src="images/trackLayouts/{{event.layoutImageURL}}"></td>
        <td>{{event.parentName}}<br>{{event.configName}}<br>{{event.isDefaultContent | checkmarkFilter}}</td>
        <td>{{ event.time | lapsTimeFilter}}{{event.laps | lapsTimeFilter}} {{event.time | lapsTimeTitleFilter}}</td>
    </tr>
</table>