<table class="seriesList">
    <tr>
        <th></th>
        <th><label for="name">Name</label><br><input id="name" ng-model="search.name"></th>
        <th>
            <label for="type">Type</label><br>
            <select id="type" ng-model="search.isOvalSeries">
                <option value="">Any</option>
                <option value="1">Oval</option>
                <option value="0">Road</option>
            </select>
        </th>
        <th>
            <label for="fixed">Fixed</label><br>
            <select id="fixed" ng-model="search.isFixed">
                <option value="">Any</option>
                <option value="1">Fixed</option>
                <option value="0">Open</option>
            </select>
        </th>
        <th>
            <label for="teams">Teams Allowed</label><br>
            <input type="checkbox" id="teams" ng-model="search.isTeam" ng-true-value="1" ng-false-value="">
        </th>
        <th>Cautions*</th>
        <th>
            <label for="minLicense">Minimum License</label><br>
            <select id="minLicense" ng-model="minLicense" ng-change="tester()">
                <option value="">Any</option><option value="0">R1</option><option value=">1">R2</option><option value="2">R3</option><option value="3">R4</option><option value="4">D1</option><option value="5">D2</option><option value="6">D3</option><option value="7">D4</option><option value="8">C1</option><option value="9">C2</option><option value="10">C3</option><option value="11">C4</option><option value="12">B1</option><option value="13">B2</option><option value="14">B3</option><option value="15">B4</option><option value="16">A1</option><option value="17">A2</option><option value="18">A3</option><option value="19">A4</option><option value="20">P1</option><option value="21">P2</option><option value="22">P3</option><option value="23">P4</option>
            </select>
        </th>
        <th>
            <label for="maxLicense">Max License</label><br>
            <select id="maxLicense" ng-model="maxLicense" ng-change="maxLicenseChange()">
                <option value="">Any</option><option value="0">R1</option><option value="1">R2</option><option value="2">R3</option><option value="3">R4</option><option value="4">D1</option><option value="5">D2</option><option value="6">D3</option><option value="7">D4</option><option value="8">C1</option><option value="9">C2</option><option value="10">C3</option><option value="11">C4</option><option value="12">B1</option><option value="13">B2</option><option value="14">B3</option><option value="15">B4</option><option value="16">A1</option><option value="17">A2</option><option value="18">A3</option><option value="19">A4</option><option value="20">P1</option><option value="21">P2</option><option value="22">P3</option><option value="23">P4</option>
            </select>
        </th>
    </tr>
    <tr ng-repeat="s in series | filter:search | orderBy:'minLicenseId'">
        <td><img class="seasonLogo" src="images/seasonLogos/{{ s.logoImgUrl }}"></td>
        <td>{{ s.name }}</td>
        <td>{{ s.isOvalSeries | ovalRoadFilter }}</td>
        <td>{{ s.isFixed | checkmarkFilter }}</td>
        <td>{{ s.isTeam | checkmarkFilter }}</td>
        <td>{{ s.cautionType | cautionTypeFilter }}</td>
        <td>{{ s.minLicense }}</td>
        <td>{{ s.maxLicense }}</td>
    </tr>
</table>

<p>*Most, if not all, road courses are marked as "Full course cautions", although a caution will not come out in official events.</p>