<div class="filterDiv">
    <label for="searchName">Search by name: </label><input id="searchName" ng-model="search.name">
    <label for="searchDefault">Show Default Only:</label> <input id="searchDefault" type="checkbox" ng-model="search.isDefaultContent" ng-true-value="1" ng-false-value="">
    <a href="#/configurations">View all configurations</a>
</div>
<table class="trackList">
    <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Is Default Content</th>
    </tr>
    <tr ng-repeat="track in tracks | filter:search">
        <td><img class="trackLogo" src="/images/trackLogos/{{ track.logoURL }}"/><a href="{{ track.websiteURL }}">Visit Track Website</a></td>
        <td>{{ track.name }}</td>
        <td>{{ track.isDefaultContent | checkmarkFilter }}</td>
        <td><a href="#/tracks/{{track.shortName}}">View configurations</a></td>
    </tr>
</table>