<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">
<div class="wrapper">
    <header>
        <% include ../partials/header %>
    </header>
    <main class="x404">
        <h1>Uh oh, looks like you took a right turn!</h1>
        <p>Get it? Cause in nascar they only turn left... hey, you're the one who managed to land on a 404 page, don't look at me like that.</p>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>
</html>