<!-- views/pages/iracingCars.ejs -->
<!DOCTYPE html>
<html lang="en" ng-app="racerApp">
<head>
    <% include ../partials/head %>
</head>

<body class="container" ng-controller="trackListCtrl">
    <div class="wrapper">
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <table>
                <ul ng-repeat="track in tracks">
                    <li>{{ track.track_name }}</li>
                </ul>
            </table>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
</body>
</html>