<!-- views/pages/iracingCars.ejs -->
<!DOCTYPE html>
<html lang="en" ng-app="racerApp">
<head>
    <% include ../partials/head %>
</head>

<body class="container" ng-controller="trackListCtrl">
    <div class="wrapper">
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <input ng-model="search.track_name">
            <input type="checkbox" ng-model="defaultOnly" ng-click="defaultCheckChange()">
            <input ng-model="defaultOnlytest">
            <table>
                <tr ng-repeat="track in tracks | filter:search">
                    <td>{{ track.track_name }}</td>
                    <td>{{ track.track_isDefaultContent | checkmark }}</td>
                </tr>
            </table>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
</body>
</html>