<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en" ng-app="racerApp">
<head>
    <% include ../partials/head %>
</head>

<body class="container" ng-controller="randomRaceCtrl">
<div class="wrapper">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <table class="randomRace">
            <tr>
                <td colspan="2" class="randomRaceForm">
                    <button ng-click="reloadPage()">New race</button> <!-- TODO: make filter form for random race page -->
                </td>
            </tr>
            <tr>
                <td class="carDetails"><h2>{{ cars[randCar].car_name }} @ </h2></td>
                <td class="trackDetails"><h2>{{ tracks[randTrack].track_name }} - {{ tracks[randTrack].config_name }}</h2></td>
            </tr>
            <tr>
                <td><img src="images/carPortraits/{{ cars[randCar].imageURL }}"/></td>
                <td>
                    <img class="configImage" src="images/trackLayouts/{{ tracks[randTrack].configLayoutImageURL }}">
                    <img class="trackLogo" src="images/trackLogos/{{ tracks[randTrack].trackLogoURL }}">
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>
</html>