<!-- views/pages/iracingCars.ejs -->
<!DOCTYPE html>
<html lang="en" ng-app="racerApp">
<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <div class="wrapper">
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div ng-view></div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
</body>
</html>